<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.mapper.BoardMapper">
    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.domain.Post">
        SELECT *
        FROM Post
    </select>

    <select id="selectPost" resultType="com.nhnacademy.jdbc.board.domain.Post">
        SELECT *
        FROM Post
        WHERE id = #{postId}
    </select>

    <insert id="insertPost" >
        INSERT INTO Post (title, content, user_id)
        VALUES (#{title}, #{content}, #{userId})
    </insert>
</mapper>

<!--    <insert id="insertStudent">-->
<!--#         insert into JdbcStudents(id, name, created_at)-->
<!--#         values (#{id}, '${name}', #{\createdAt})-->
<!--    </insert>-->

<!--    <update id="updateNameById">-->
<!--#         update JdbcStudents set name='${name}'-->
<!--#         where id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteById">-->
<!--#         delete from JdbcStudents where id=#{id}-->
<!--    </delete>-->
<!--        </mapper>-->
