<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.mapper.BoardMapper">
    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.domain.Post">
        SELECT *
        FROM Post
        WHERE is_deleted=false
    </select>

    <select id="selectPost" resultType="com.nhnacademy.jdbc.board.domain.Post">
        SELECT *
        FROM Post
        WHERE id = #{postId}
    </select>

    <insert id="insertPost" >
        INSERT INTO Post (title, content, user_id)
        VALUES (#{title}, #{content}, #{userId})
    </insert>

    <update id="updatePost">
        UPDATE Post
        SET title=#{title}, content=#{content}, modifier_id=#{modifierId}
        WHERE id=#{id}
    </update>
    <delete id="deletePost">
        UPDATE Post
        SET is_deleted = true
        WHERE id=#{id}
    </delete>
</mapper>

<!--    <delete id="deleteById">-->
<!--#         delete from JdbcStudents where id=#{id}-->
<!--    </delete>-->
<!--        </mapper>-->
